/* ===========================================
   Footer
   =========================================== */

    footer .wrapper {
    background-color: #fff;
    border-top: 2px solid #ebeceb;
    color: #666;
    font-size: 11px;
    padding: 15px;
    }

    footer .wrapper > div a {
    color: #666;
    font-size: 11px;
    text-decoration: underline;
    }
 